*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins, sans-serif;
    background-color: rgb(243, 235, 235);
}

header {
    display: flex;
    background-color:rgb(71, 17, 71);
    justify-content: space-between;
    margin: 2px;
    border: 2px;
    color: white;
    padding: 20px;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

html {
    scroll-behavior: smooth;
}

main {
    padding-top: 80px;
}
.navbar>ul {
    display: flex;
    list-style: none;
}

.navbar>ul>li>a {
    color: white;
    text-decoration: none;
    justify-content: space-around;
    padding: 20px;
    border: 1px solid transparent;
}

a:hover {
border: 0px;
background-color: rgb(168, 141, 168);
border-radius: 4px;
padding: 10px;
}

 .Home img {
    width: 250px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
}

#Home {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 40px 80px;
}

.Home-text {
    max-width: 500px;
    font-weight: 600;
}
.About {
    margin: 100px 20px;
    padding: 90px;
    text-align: center;
    font-weight: 600;
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
}

.About p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600; 
 }

 .Projects {
    padding: 60px 20px;
    text-align: center;

 }

 .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
    margin: 30px;
 }

 .project-card {
    background-color: #9b7bd9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0.1);

 }

 .project-card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
 }

 .project-card small{
    color: rgb(170, 127, 199);
 }

.Contact {
    padding: 60px 20px;
    text-align: center;
    font-size: 600;
}
 .Contact h2 {
    margin-bottom: 10px;
 }

 .Contact p {
    margin-bottom: 10px;
    margin: 6px 0;
 }

 .Contact-info p {
    font-size: 16px;
 }

 footer {
    text-align: center;
    padding: 15px;
    background: rgb(71, 17, 71);
    color: white;
    font-size: 15px;
 }